Data Source:
 
<ul>
<li>https://www.doe.gov.ph/lpg-auto-lpg-prices-metro-manila</li>
<li>https://www.doe.gov.ph/lpg-auto-lpg-prices-visayas</li>
<li>https://www.doe.gov.ph/lpg-auto-lpg-prices-mindanao</li>
</ul>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import datetime as dt
pd.set_option('display.max_columns', None)
%matplotlib inline

from IPython.display import display, HTML

display(HTML(data="""
<style>
    div.output_scroll {height:100%}
</style>
"""))

In [3]:
manila = pd.read_csv("./data/Manila.csv").dropna()
cebu = pd.read_csv("./data/Cebu.csv").dropna()
iligan = pd.read_csv("./data/Iligan.csv").dropna()
davao = pd.read_csv("./data/Davao.csv").dropna()

In [4]:
manila_cebu = manila.join(cebu,how='right',lsuffix='_Manila', rsuffix='_Cebu')
iligan_davao = iligan.join(davao,how='left',lsuffix='_Iligan', rsuffix='_Davao')
df = manila_cebu.join(iligan_davao,how='left')
df

,Date_Manila,Kilo_Manila,Price_Manila,Date_Cebu,Kilo_Cebu,Price_Cebu,Date_Iligan,Kilo_Iligan,Price_Iligan,Date_Davao,Kilo_Davao,Price_Davao
0,1/16/2023,11.0,914.0,1/3/2023,11,1099.0,1/3/2023,11,1009,1/3/2023,11,1022.0
1,2/8/2023,11.0,1037.0,2/7/2023,11,1135.0,2/6/2023,11,1133,2/6/2023,11,1155.0
2,NaN,NaN,NaN,3/7/2023,11,1087.0,3/6/2023,11,1095,3/6/2023,11,1117.0